#faanyagok{
    height: 100vh;
    background-image: url(../img/fahatter.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

#container { position: absolute; top: 105px; }
#row { position: relative; margin: auto; left: 425px; }