#rolunk{
    height: 100vh;
    background-image: url(../img/barkacs.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.modal-body p{
    font-size: 1em;

}